<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


	
  <!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!--   CSS Styling -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css.css">

  <!-- Javascript -->
	<script type="text/javascript" src="/javascripts/myscripts.js"></script>


  <!--   Font Awesome -->  
  <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

    <!--   Fancybox Javascript -->
  <script src="/javascripts/fancybox.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>

	<meta charset="UTF-8">


	<title>Picture It Now</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<!-- Brand and toggle get grouped for better mobile display
 -->  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Picture It Now</a>
    </div>


  <!-- Collecting the nav links for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 

  		<ol class="nav navbar-nav navbar-right">
  		  <li class="active"><a href="/">Home</a></li>        
        <li><a><div id="aboutbutton">About</div></a></li>

  		  <% if (isAuthenticated){ %>
    			<li><a href="/savedlist/<%= user.id %>">Board</a></li>
    			<li><a href="/logout">Logout</a></li>
    			
    		<% } else { %>
    			<li><a href="signup">Sign Up</a></li>
    			<li><a href="login">Sign In</a></li>
    		<% } %>
      </ol>

    </div>
  </div>
</nav>




<!-- About Page with jQuery -->


<div id="about" style="display:none">
  <div class="container text-center">   <!-- Container for About Page -->
    <div id="aboutwords">
      <div class="col-md-8">
        <h2>Motivation</h2>
          <p>As our world is getting globalized as a result of technology, it is even easier to connect with people half way around the world than ever before.  I was motivated to build a project that would incorpate technology, traveling, and pictures.</p>
          <p>Currently, through the Instagram app, photos are only searchable through tags and users.  What if I wanted to see what is currently happening in London, UK? or even Cape Town, South Africa?</p>
          <p>What better way to discover a location than to find everyday people taking picture at that location?  So search away!</p>



        <h2>Technologies</h2>
        
          <p>This project was built using:</p>
          <p>Node.js<br>
          Express<br>
          Instagram API<br>
          Google Maps API<br>
          Forecast API<br>
          PostgreSQL<br>
          </p>

       


      </div>  <!-- Close col-md-8 -->
      <div class="col-md-4">

        <div class="thumbnail">
          <img src="http://photos-f.ak.instagram.com/hphotos-ak-xap1/1389921_324793360995613_175338368_n.jpg" class="img-rounded">
          <blockquote><p><font color="#16a085">Wizarding World of Harry Potter</font></p></blockquote> 
        </div>
        
       
      </div>  <!-- Close row id -->
    </div>  <!-- Close About words -->
  </div>  <!-- Close Container for About Page -->
</div>   <!-- Close about id -->






<div class="container"> 