<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="/javascripts/masonry.pkgd.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/css.css">

	<script type="text/javascript" src="/javascripts/masonry.js"></script>

	<!-- Bootstrap Javascript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!--   Font Awesome -->  
  <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

	<meta charset="UTF-8">


	<title>Picture It Now</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
<!-- Brand and toggle get grouped for better mobile display
 -->  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Picture It Now</a>
    </div>


  <!-- Collecting the nav links for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
  		<ol class="nav navbar-nav" style="float: right">
  		  <li class="active"><a href="/">Home</a></li>
  		  <% if (isAuthenticated){ %>
    			<li><a href="/savedlist/<%= user.id %>">Saved List</a></li>
    			<li><a href="/logout">Logout</a></li>
    			<li><a href="/about">About</a></li>
    		<% } else { %>
    			<li><a href="signup">Sign Up</a></li>
    			<li><a href="login">Log In</a></li>
    			<li><a href="/about">About</a></li>
    		<% } %>
  		</ol>
    </div>
  </div>
</nav>

<div class="container"> 