<% include partials/header.ejs %>  
 

</div>  <!-- Closes the default container -->



<div id="indexjum">
  <div class="container">

    <div id="searchindex" class="text-center">
      <div id ="errorsearch" class="text-center">
        <% if(data === undefined) { %>
          <%= message %></p>
        <% } %>
      </div>
  
      <form action="/search">
        <h3>Any city, zipcode, or landmark to see whats currently happening!</h3>
        <input type="text" name="searchLoc" class="form-control":focus placeholder="Where do you want to picture?"></input>
        <input type="submit" value="Lets Do It" class="btn btn-success"></input>
      </form>

      <div id="homelocation">
        <h4>Nuwara Eilya, Sri Lanka</h4>
      </div>

    </div>  <!-- search id -->
  </div>    <!-- container -->
</div>    <!-- indexjum -->




<div class="container">  <!-- Reopens the container -->

<div class="row text-center">
  <h2>Start your Journey</h2>
  <p>Discover the world to draw inspiration.</p>
</div>
<hr class="featurette-divider">

<!-- 1-2-3 Steps -->
<div class="container marketing text-center">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-circle" src="http://farm4.staticflickr.com/3911/14655903547_cc057fa0d5_n.jpg" style="width: 140px; height: 140px;">
      <h2>Dream Anywhere</h2>
      <p>Never visited Paris?<br> Now you can! Through the people on the ground, see the hash tags associated with the pictures to get real context of the situation.</p>
      <p><a class="btn btn-primary" href="#" role="button">Search Now</a></p>
    </div><!-- /.col-lg-6 -->

    <div class="col-lg-6">
      <img class="img-circle" src="http://farm6.staticflickr.com/5551/14656887569_025903def4_n.jpg" style="width: 140px; height: 140px;">
      <h2>Become A Member</h2>
      <p>Want to save those beautiful pictures?<br> Now you can!  Become a member to permanetly save those memories to your board.  Draw inspiration from them again and again.</p>
      <p><a class="btn btn-primary" href="/signup" role="button">Sign Up Now</a></p>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->

</div> <!-- closes marketing container -->



<!-- START THE FEATURETTES -->
<hr class="featurette-divider">

<!-- Paris -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Paris <span class="text-muted">The City of Love</span></h2>
      <p class="lead">Paris is called the City of Light, and is one of the most romantic cities in the world. Here you'll find the world's center of culture, art, fashion and cuisine. See the famous vacation sights in Paris that inspired great literature, painters of genius, stunning architecture and parks. Breathtaking beauty is everywhere you look.</p>
      <form action="/searchLoc" method="post">
        <input type="hidden" name="Location" value="Paris"></input>
        <button class="btn btn-primary">Find Love</button>
      </form>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://specials-images.forbesimg.com/imageserve/5f5fecda6fa0e10896370c6afbea47df/0x600.jpg?fit=scale&background=000000" alt="Paris">
    </div>
  </div>

<hr class="featurette-divider">


<!-- Mount Fuji -->
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://wallpicshd.com/wp-content/uploads/2014/03/Blue-Mount-Fuji.jpg" alt="Mount Fuji">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Mount Fuji, Japan <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">A sacred destination.  It is the highest mountain in Japan, rising to 12,388 feet and the single most popular tourist site in Japan, for both Japanese and foreign tourists.  It is the holiest of Japan's "Three Holy Mountains".  Every summer, thousands of pilgrims and tourists climb to the summit, many of them hiking throughout the night to witness the sunrise from the summit.</p>
      <form action="/searchLoc" method="post">
        <input type="hidden" name="Location" value="Mount Fuji"></input>
        <button class="btn btn-primary">See the Scared Mountain</button>
      </form>
    </div>
  </div>

<hr class="featurette-divider">



<!-- Rome -->
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Rome <span class="text-muted">The Enternal City</span></h2>
    <p class="lead">Rome (Roma), the eternal city, is literally eternal.  Rome is a city that will keep you busy and entertained at all times. For those who are interested in art, music, history, and religion, there are few cities in the world that offer more. You could spend a year in Rome and not see everything, but there are some sights you don't want to miss.</p>
    <form action="/searchLoc" method="post">
      <input type="hidden" name="Location" value="Rome"></input>
      <button class="btn btn-primary">See Why</button>
    </form>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="http://farm1.static.flickr.com/108/315071233_f794d81549_b.jpg" alt="Rome">
  </div>
</div>

<hr class="featurette-divider">




<!-- Seoul -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://specials-images.forbesimg.com/imageserve/1b95ff5a6a116a84cdae53422fb32181/0x600.jpg?fit=scale&background=000000" alt="Seoul" class="img-rounded" height="300" width="400">
      <div class="caption">
        <blockquote><h3>Seoul</h3></blockquote>
        <p> Because of its very long history of settlement, Seoul is home to a number of historic sites and monuments. There are many temples, historical sites and palaces around South Korea which are popular with tourists wanting to learn more about the country's history, religion and culture.</p>
        <form action="/searchLoc" method="post">
          <input type="hidden" name="Location" value="Seoul"></input>
          <button class="btn btn-primary">Find Your Seoul</button>
      </form>

      </div>
    </div>
  </div>
</div>


<!-- St. Basil’s Cathedral in Moscow, Russia -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="https://c1.staticflickr.com/7/6012/5927766424_92fba6c430_z.jpg" alt="St. Basil’s Cathedral in Moscow, Russia" class="img-rounded" height="300" width="400">
      <div class="caption">
        <blockquote><h3>St. Basil’s Cathedral</h3></blockquote>
        <p>St Basil’s Cathedral’s full title is the Cathedral of the Protection of Most Holy Theotokos on the Moat.  The church was bulit between 1555 and 1561.  Ivan the Terrible commissioned the building of the cathedral to commemorate the capture of the Tartar stronghold of Kazan.</p>
        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="St. Basil’s Cathedral in Moscow, Russia"></input>
        	<button class="btn btn-primary">Take A Quick Visit</button>
    	</form>

      </div>
    </div>
  </div>
</div>



<!-- London -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="https://lh6.googleusercontent.com/-J0ytU0cvT7A/USOIApx8-AI/AAAAAAAAAE4/q864WjO6gzg/s0-d/city-of-London.jpg" alt="London" class="img-rounded" height="300" width="400">
      <div class="caption">
        <blockquote><h3>London</h3></blockquote>
        <p>London is marked by its history.  For almost all of it, the key factor was the bridge(s) across the Thames. First built by the Romans, it made London a trade centre and a sea port.  The bridges across the Thames remain major features.  The Tower Bridge now serves as a symbol for London. </p>
        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="London"></input>
        	<button class="btn btn-primary">Explore the Streets of London</button>
    	</form>

      </div>
    </div>
  </div>
</div>





</div>
<% include partials/footer.ejs %>  