<% include partials/header.ejs %>    

<h1> Search Location </h1>

<% if (isAuthenticated){ %>
<h1>Hello <%= user.username %></h1>
<a href="/logout">Logout</a>
<a href="/savedlist/<%= user.id %>">Saved List</a>
<% } else { %>
<a href="signup">Sign Up</a>
Already have an account? <a href="login">Sign In</a>
<% } %>



<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>







<% include partials/footer.ejs %>  