<% include partials/header.ejs %>    

<h1> Search Location </h1>

<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>





<% include partials/footer.ejs %>  