<% include partials/header.ejs %>    

<h1> Search Location </h1>

<% if(data === undefined) { %>
<p style = "color: red;">
<%= message %></p>
<% } %>


<% if (isAuthenticated){ %>
	<h1>Hello <%= user.username %></h1>
	<a href="/logout">Logout</a>
	<a href="/savedlist/<%= user.id %>">Saved List</a>
	<% } else { %>
	<a href="signup">Sign Up</a>
	Already have an account? <a href="login">Sign In</a>
<% } %>



<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>



<!-- Paris -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://www.millenniumhotels.com/content/dam/uk/en/images/EU.DES.Paris.jpg" alt="Paris">
      <div class="caption">
        <h3>Paris</h3>
        <p>Pictures</p>

        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="Paris"></input>
        	<button class="btn btn-primary">Search</button>
    	</form>

      </div>
    </div>
  </div>
</div>


<!-- New York -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://www.theamazingpics.com/wp-content/uploads/2013/10/Incredible-Photo-of-Sunrise-over-Manhattan-New-York.jpg" alt="New York">
      <div class="caption">
        <h3>New York</h3>
        <p>Pictures</p>

        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="New York"></input>
        	<button class="btn btn-primary">Search</button>
    	</form>

      </div>
    </div>
  </div>
</div>



<!-- London -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQiOpL_XOGwzD-nZG0FUXRbh4a4nfjVItUErlumITWuOzABNtsA" alt="London">
      <div class="caption">
        <h3>London</h3>
        <p>Pictures</p>

        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="London"></input>
        	<button class="btn btn-primary">Search</button>
    	</form>

      </div>
    </div>
  </div>
</div>



<!-- Seoul -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://static.bbci.co.uk/wwtravel/img/ic/624-330/130564941619519218960_1.jpg" alt="Seoul">
      <div class="caption">
        <h3>Seoul</h3>
        <p>Pictures</p>

        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="Seoul"></input>
        	<button class="btn btn-primary">Search</button>
    	</form>

      </div>
    </div>
  </div>
</div>


<!-- Istanbul -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://lslconsultancy.com/wp-content/uploads/2014/06/Istanbul.jpg" alt="Istanbul">
      <div class="caption">
        <h3>Istanbul</h3>
        <p>Pictures</p>

        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="Istanbul"></input>
        	<button class="btn btn-primary">Search</button>
    	</form>

      </div>
    </div>
  </div>
</div>


<!-- Hong Kong -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://richardjsharp.org/wp-content/uploads/2014/07/HONG-kong-night-skyline.jpg" alt="Hong Kong">
      <div class="caption">
        <h3>Hong Kong</h3>
        <p>Pictures</p>

        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="Hong Kong"></input>
        	<button class="btn btn-primary">Search</button>
    	</form>

      </div>
    </div>
  </div>
</div>





<% include partials/footer.ejs %>  