<% include partials/header.ejs %>    

<h1> Search Location </h1>

<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>


<a href="signup">Sign Up</a>
Already have an account? <a href="login">Sign In</a>
<a href="/logout">Logout</a>


<% include partials/footer.ejs %>  