<% include partials/header.ejs %>    

<h1> Search Location </h1>

<% if(data === undefined) { %>
<p style = "color: red;">
<%= message %></p>
<% } %>


<% if (isAuthenticated){ %>
	<h1>Hello <%= user.username %></h1>
	<a href="/logout">Logout</a>
	<a href="/savedlist/<%= user.id %>">Saved List</a>
	<% } else { %>
	<a href="signup">Sign Up</a>
	Already have an account? <a href="login">Sign In</a>
<% } %>



<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>



<!-- Paris -->
<div class="row-md-4">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcS2cl8Pha3COaGdxbo3pjkd5THUxy0JHc43fjdG8zLoYMkIB6Yf" alt="Paris">
      <div class="caption">
        <h3>Paris</h3>
        <p>Pictures</p>
        <form method="post" action="/searchParis">
	        <input type ="hidden" name="paris" value="paris">
	        <p><a class="btn btn-primary" role="button">Search</a></p>
	      </input>
    	</form>
      </div>
    </div>
  </div>
</div>







<% include partials/footer.ejs %>  