<% include partials/header.ejs %>    

<h1> Log In </h1>

<% if(typeof message !== 'undefined') { %>
<p style = "color: red;">
	<%= message %>
</p>
<% } %>


<form action="/login" method="post">
	<p>
		<label for="user">Username: </label>
		<input type="text" name="username" id="user" autofocus>
	</p>

	<p>
		<label for="pass">Password: </label>
		<input type="password" name="password" id="pass">
	</p>

	<p>
		<input type="submit" value="Log In">
	</p>
</form>

Don't have an account?  Sign Up <a href="/signup">here</a>



<a href="/">Home</a>

<% include partials/footer.ejs %>  