<% include partials/header.ejs %> 




<h1> Log In </h1>

<% if(typeof message !== 'undefined') { %>
<p style = "color: red;">
	<%= message %>
</p>
<% } %>


<form action="/login" method="post">
	<p>
		<label for="user">Username: </label>
		<input type="text" name="username" id="user" autofocus>
	</p>

	<p>
		<label for="pass">Password: </label>
		<input type="password" name="password" id="pass">
	</p>

	<p>
		<input type="submit" value="Log In">
	</p>
</form>

Don't have an account?  Sign Up <a href="/signup">here</a>





<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))">
	<img src="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_m.jpg" alt="" />
</a>




















<% include partials/footer.ejs %>  