<% include partials/header.ejs %>    

<h1>IG Search Results</h1>

<a href="/">Home</a>
<% if (isAuthenticated) { %>
<a href="/logout">Logout</a>
<a href="/savedlist/<%= user.id %>">Saved List</a>
<% } else { %>
<a href="/signup">Sign Up</a>
<a href="/signin">Sign In</a>
<% } %>


<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>


<img src=" <%= locations[0].images.standard_resolution.url %>">







<% include partials/footer.ejs %>  