<% include partials/header.ejs %>    

<h1>IG Search Results</h1>

<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>


<img src=" <%= location[1].images.standard_resolution.url %>">



<a href="/">Home</a>

<% include partials/footer.ejs %>  