<% include partials/header.ejs %>    

<h1> Saved Photos </h1>


<!-- Need to change the action -->
<form action="delete?_method=delete" method="post">
	<button>
		Delete
	</button>
</form>

<% include partials/footer.ejs %>  