<% include partials/header.ejs %>    




<form action="/signup" method="post" class="form-signin">
	<h2 class="form-signin-heading">Sign Up</h2>
	
	<input type="text" name="username" id="username" class="form-control" placeholder="username" autofocus>

	<input type="password" name="password" id="password" class="form-control" placeholder="password">

	<% if(typeof message !== 'undefined') { %>
		<p style = "color: red;">
		<%= message %>
	<% } %>

	<input type="submit" value="Sign up!" class="btn btn-lg btn-primary btn-block">


	<a href="/login">Already have an account?  Log in here</a>
</form>


</div>  <!-- Close container -->






<% include partials/footer.ejs %>  